
.main-image{
    position: relative;
    border-top: 1px solid #ccc;
    background-image: url('../IMAGENS/pexels-ivan-babydov-7823933.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.filtro{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}
h3#slogam{
   color: rgb(165, 164, 164);
   position: absolute;
   left: 45%;
   top: 60%;
}
.typing{
    width: 274px;
    animation: typing 3s steps(40) infinite normal, blink .5s step-end infinite;

    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}
@keyframes typing{
    from{width: 0;}
}
@keyframes blink{
    50%{border-color: transparent;}
}
